                <!-- main container -->
                <div class="data_setup_container_main m-4">

                    <div class="setup_functions d-flex justify-content-end">
                        <div class="reset_btn m-1">
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="reset" value="true">
                                <input type="submit" class="btn btn-sm btn-danger" value="Reset">
                            </form>
                        </div>
                        <div class="save_to_db_btn m-1">
                            <form class="form" action="" method="post" id="save_initail_dataset_form" name="save_initail_dataset_form">
                                {% csrf_token %}
                                <input type="hidden" name="save_db" value="true">
                                <input type="submit" class="btn btn-sm btn-success" value="Save" class="btn btn-sm">
                            </form>
                        </div> 
                        <div class="donwload_btn m-1">
                            <a href="{% url 'download_csv' %}" class="btn btn-primary btn-sm">Download</a>
                        </div>
                        <div class="group_and_aggregation d-flex justify-content-end m-1">
                            <div class="aggregation_btn">
                        <!-- Modal is located in modeling.html -->
                              <button type="button" class="btn btn-sm btn-dark" data-bs-toggle="modal" data-bs-target="#group_data_modal">Group data</button>
                            </div>
                         </div>
                    </div>

                    <!-- ----------- Data stat cards ----------- -->
               
                    <div class="containerr">
                       <div class="row">
                           <div class="col-lg-3 col-sm-6">
                               <div class="card-box bg-dark">
                                   <div class="inner">
                                       <h3 id='num_rows'> {{num_rows}} </h3>
                                       <p> Total Rows </p>
                                   </div>
                                   <div class="icon">
                                       <i class="fa-solid fa-chart-simple fa-rotate-90" aria-hidden="true"></i>
                                   </div>
                                   <a data-bs-target="#data-description" style="cursor: pointer;" data-bs-toggle="modal" class="card-box-footer" id="describe-btn">View data description <i class="fa fa-arrow-circle-right"></i></a>
                               </div>
                           </div>
           
                           <div class="col-lg-3 col-sm-6">
                               <div class="card-box bg-dark">
                                   <div class="inner">
                                       <h3 id='num-cols'> {{num_columns}} </h3>
                                       <p> Total Columns </p>
                                   </div>
                                   <div class="icon">
                                       <i class="fa-solid fa-chart-simple" aria-hidden="true"></i>
                                   </div>
                                   <a data-bs-target="#unique-values" data-bs-toggle="modal" style="cursor: pointer;" class="card-box-footer">View unique value <i class="fa fa-arrow-circle-right"></i></a>
                               </div>
                           </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="card-box bg-dark">
                                   <div class="inner">
                                       <h3 id="tot_null"> {{tot_nulls}} </h3>
                                       <p> Null Values </p>
                                   </div>
                                   <div class="icon">
                                       <i class="fa-solid fa-circle-minus" aria-hidden="true"></i>
                                   </div>
                                   <a data-bs-toggle="modal" data-bs-target="#null_values_col" class="card-box-footer" style="cursor: pointer;" >View total null values <i class="fa fa-arrow-circle-right"></i></a>
           
                               </div>
                           </div>
                           <div class="col-lg-3 col-sm-6">
                               <div class="card-box bg-dark">
                                   <div class="inner">
                                       <h3 id="total_notnulls"> {{total_notnull}} </h3>
                                       <p> Non null values </p>
                                   </div>
                                   <div class="icon">
                                       <i class="fa-solid fa-diagram-project" aria-hidden="true"></i>
                                   </div>
                                   <a class="card-box-footer" data-bs-target="#non_null_values_col" data-bs-toggle="modal" style="cursor: pointer;" >View total non-null values <i class="fa fa-arrow-circle-right"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
   
                                           <!-- ------------ null values View more Modal ----------- -->
               <div class="modal fade" id="null_values_col" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Null count in each column</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                           <div class="table-responsive" id="nullwise">
                               {% comment %} <table class="table table-bordered table-striped">
                                   <thead>
                                       <tr>
                                           <th>Column Name</th>
                                           <th>null Count</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       {% for column, info in null_col_wise.items %}
                                           <tr>
                                               <td>{{ column }}</td>
                                               <td>{{ info }}</td>
                                           </tr>
                                       {% endfor %}
                                   </tbody>
                               </table> {% endcomment %}
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                       </div>
                     </div>
                   </div>
                 </div>
               
                             <!-- ------------ non-null values View more Modal ----------- -->
               <div class="modal fade" id="non_null_values_col" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Non-Null count in each column</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                           <div class="table-responsive" id="nonullwise">
                               {% comment %} <table class="table table-bordered table-striped">
                                   <thead>
                                       <tr>
                                           <th>Column Name</th>
                                           <th>non-null Count</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       {% for column, info in nonnull_col_wise.items %}
                                           <tr>
                                               <td>{{ column }}</td>
                                               <td>{{ info }}</td>
                                           </tr>
                                       {% endfor %}
                                   </tbody>
                               </table> {% endcomment %}
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                       </div>
                     </div>
                   </div>
                 </div>
               
                               <!-- ------------ data description Modal ----------- -->
               <div class="modal fade" id="data-description" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Data description</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                           <div class="table-responsive" id='describe-data-container'>
                               {% comment %} {{describe | safe}} {% endcomment %}
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                       </div>
                     </div>
                   </div>
                 </div>
               
                                 <!-- ------------ Unique values Modal ----------- -->
               <div class="modal fade" id="unique-values" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                   <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                     <div class="modal-content">
                       <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLabel">Unique values</h5>
                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                       </div>
                       <div class="modal-body">
                           <div class="table-responsive" id="unique-vals-cols">
                               {% comment %} {{unique | safe}} {% endcomment %}
                           </div>
                       </div>
                       <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                         <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                       </div>
                     </div>
                   </div>
                 </div>
               
               
               
                       <!-- ----------- Data stat cards end ----------- -->
   
                   
   
                       <!-- ----------- Data display -------------- -->
                       <div class="dispay_data_table_and_dtype_container d-flex flex-wrap">
                           <div class="card col-lg-8 col-12 shadow" style="border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 1rem;">
                               <div class="card-body p-0">
                                   <div class="pt-4 pb-2 px-4">
                                   <h5 class="card-title">Preview CSV Data</h5>
                                       <!-- <h1>Preview CSV Data</h1> -->
                                       <div class="limit_data_rows">
                                           <div class="">
                                               <label for="datalimit" class="form-label"></label>
                                               <form method="POST" class="form" id="previewdata-limit">
                                               {% csrf_token %}
                                               <div class="data-limit-container d-flex align-items-center">
                                               <div class="preview-record-info" id="selected-record-info">Showing 10 records</div>&nbsp;<span> out of {{num_rows}}</span>
                                               <select class="form-select form-select-sm ms-auto me-1" style="width: auto;" name="datalimit" id="datalimit">
                                                   <option selected value="5">5</option>
                                                   <option value="10">10</option>
                                                   <option value="25">25</option>
                                                   <option value="50">50</option>
                                                   <option value="100">100</option>
                                                   <option value="500">500</option>
                                                   <option value="{{num_rows}}">All</option>
                                               </select>
                                               <button type="submit" class="btn btn-dark" id="show-data-button" style="padding: .175rem .75rem;">Show</button>
                                           </div>
                                               </form>
                                           </div>
                                       </div>
                                   </div>
                                       <div class="displaydata">
               
                                   <div id="preview-data-container" class="preview-table table-responsive" style="font-size: 12px;">
                                       <!-- Fetched data will be inserted here -->
                                   </div>
                               </div>
   
                               </div>
   
                           </div>
   
                       <!-- ----------- Data types table ----------- -->
                       <div class="card col-lg-4 col-12 shadow" style="border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 1rem;">
                           <div class="card-body p-0 d-flex flex-column justify-content-between">
                               <div class="pt-4 px-4">
                               <h4 class="card-title">Feature Data Types</h4>
                               </div>
                               <div class="data-type-table-text px-4">Showing all features data types</div>
                               <div class="datatypetable">
                                   <div class="preview-dtype-table" id="datatypes-table" style="font-size: 12px;">
                                   </div>
                               </div>
                               </div>
                           </div>
                       <!-- ----------- Data types table end ----------- -->

                       </div>
                       <!-- ----------- Data display end -------------- -->

   
              
                        <div class="data-setup-tab-pane my-5">
                            <style>
                                .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
                                    width: 99%;
                                    
                                }
                                .data-setup-tab-pane .nav-link{
                                    color: #6c757d!important;
                                }
                                .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                                    color: #fff!important;
                                    background-color: #212529 !important;
                                }
                                

                                .data-setup-tab-pane .nav-pills li{
                                    /* border: 1px solid #212529; */
                                    /* border-bottom: 1px solid #f39c12!important; */
                                    border-radius: 10px !important;
                                }
                            </style>
                       <ul class="nav nav-pills justify-content-around mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item col-3" role="presentation">
                          <button class="nav-link mx-auto active" id="pills-imputations-tab" data-bs-toggle="pill" data-bs-target="#pills-imputations" type="button" role="tab" aria-controls="pills-imputations" aria-selected="true">Imputation</button>
                        </li>
                        <li class="nav-item col-3" role="presentation">
                          <button class="nav-link mx-auto" id="pills-cord_sys-tab" data-bs-toggle="pill" data-bs-target="#pills-cord_sys" type="button" role="tab" aria-controls="pills-cord_sys" aria-selected="false">Coordinate System</button>
                        </li>
                        <li class="nav-item col-3" role="presentation">
                          <button class="nav-link mx-auto" id="pills-geocoding-tab" data-bs-toggle="pill" data-bs-target="#pills-geocoding" type="button" role="tab" aria-controls="pills-geocoding" aria-selected="false">Geocoding</button>
                        </li>
                      </ul>
                      <div class="tab-content my-5" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-imputations" role="tabpanel" aria-labelledby="pills-imputations-tab">{% include "Data Setup/imputation.html" %} 
                        </div>
                        <div class="tab-pane fade" id="pills-cord_sys" role="tabpanel" aria-labelledby="pills-cord_sys-tab">{% include "Data Setup/cordinate systems.html" %}</div>
                        <div class="tab-pane fade" id="pills-geocoding" role="tabpanel" aria-labelledby="pills-geocoding-tab">{% include "Data Setup/geocoding.html" %}</div>
                      </div>
                    </div>
   
               
               


               

               

               
               
               
               
               

               
               
               

   
               
                   </div>
   
   