  <!--   Core   -->
  <script src="/static/assetss/js/plugins/jquery/dist/jquery.min.js"></script>
  <script src="/static/assetss/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

  <!--   Argon JS   -->
  {% comment %} <script src="/static/assetss/js/argon-dashboard.min.js?v=1.1.0"></script> {% endcomment %}

  <!--  Range Slider  -->
  <script src="/static/assetss/js/rangeslider.js">  </script>

  <!-- custom -->

  <script src="/static/assetss/js/custom_visualization.js"></script>