<div class="data_modeling">
    <div class="container">
      <div class="group_and_aggregation d-flex justify-content-end">
        <div class="aggregation_btn">
          <button type="button" class="btn btn-sm btn-light" data-bs-toggle="modal" data-bs-target="#group_data_modal">Group data</button>
        </div>
      </div>
        <div class="select_model">
            <div class="select_model_menu">
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                      <button class="nav-link " id="v-pills-fbprophet-tab" data-bs-toggle="pill" data-bs-target="#v-pills-fbprophet" type="button" role="tab" aria-controls="v-pills-fbprophet" aria-selected="true">Facebook Prophet</button>
                      <button class="nav-link active" id="v-pills-forecasting-tab" data-bs-toggle="pill" data-bs-target="#v-pills-forecasting" type="button" role="tab" aria-controls="v-pills-forecasting" aria-selected="false">ARIMA Forecasting</button>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                      <div class="tab-pane fade" id="v-pills-fbprophet" role="tabpanel" aria-labelledby="v-pills-fbprophet-tab">
                            {% include "Data Modeling/fb_prophet.html" %} 
                      </div>
                      <div class="tab-pane fade show active" id="v-pills-forecasting" role="tabpanel" aria-labelledby="v-pills-forecasting-tab">
                        {% include "Data Modeling/forecasting.html" %} 
                        
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="groupdata_model">

<!-- Modal -->
<form action="" method="POST" class="form needs-validation" novalidate>
  {% csrf_token %}
<div class="modal fade" id="group_data_modal" tabindex="-1" aria-labelledby="groupdatamodallabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="groupdatamodallabel">Prepare Data for Prediction</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="select_features_gd d-flex flex-wrap justify-content-around">
          <div class="mb-3 col-lg-6 col-12">
            <label for="select_date_var_gd" class="form-label">Select date variable</label>
            <select class="form-select form-select-sm" name="select_date_var_gd" id="select_date_var_gd">
              <option disabled selected>Select one</option>
              {% for column in preview_data.columns %}
                <option value="{{ column }}">{{ column }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="mb-3 col-lg-6 col-12">
            <label for="select_desired_feature_gd" class="form-label">Select desired variable</label>
            <select class="form-select form-select-sm" name="select_desired_feature_gd" id="select_desired_feature_gd">
              <option selected>Select one</option>
              {% for column in preview_data.columns %}
                <option value="{{ column }}">{{ column }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
