*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    margin: 10%;
    border: 4px solid red;
} */
/* Stats cards */
.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}
/* Stats cards end */

/* Preview main data table */
.displaydata .preview-table{
    overflow: auto;
    max-height: 452px;
    width: 100%;
}
/* Preview main data table end */

/* Multi select option menu */
.bootstrap-select > .dropdown-toggle{
    background-color: transparent!important;
    border: 1px solid grey;
}

/* Multi select option menu end */

thead tr th{
    text-align: left!important;
}
.hotspotsetup .container,
.data_modeling .container{
    max-width: 1920px;
    padding: 25px;
}
/* .hotspotsetup .select_star_parameterz_container .form-control{
    width: auto!important;
} */
#extra_stats_unique_bins li{
    list-style-type: none !important;
    display: inline-block;
    color: red;
}