{% extends "base.html" %}

{% load static %}


{% block title %} Pasword Reset Confirm {% endblock title %}

{% block content %}
    <div class="password_reset__confirm_form d-flex justify-content-center align-items-center flex-column" style="height: 100vh; background-color: #f8f8f8;">
        <div class="logo_login mb-5">
            <img src="{% static 'imges/modern network logo.png' %}" class="img-fluid" width="300" height="300" alt="Unable to load logo">
        </div>
        <div class="card mb-3" style="max-width: 30rem; min-width: 20rem;">
            <div id="valid-feedback">
            </div>  
            <div id="invalid-feedback">
            </div>
            <div class="card-header">Reset Password</div>
            <div class="card-body text-dark">
                {% if validlink %}
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="id_new_password1">New Password:</label>
                      <input type="password" name="new_password1" id="id_new_password1" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="id_new_password2">Confirm New Password:</label>
                      <input type="password" name="new_password2" id="id_new_password2" class="form-control" required>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn bg-blue1 text-white btn-block mb-1" type="submit">Login</button>
                    </div>
                  </form>
                  {% else %}
                  <p>The password reset link is <b>invalid</b>, possibly because it has already been used or has <b>expired</b>. Please request a new password reset.</p>
                {% endif %}
    </div>
    </div>
    </div>
  {% endblock content %}

