{% extends "base.html" %}

{% load static %}


{% block title %} Login {% endblock title %}

{% block content %}

<div class="loginform d-flex justify-content-center align-items-center flex-column" style="height: 100vh; background-color: #f8f8f8;">
    <div class="logo_login mb-5">
       <img src="{% static 'imges/modern network logo.png' %}" alt="Unable to load logo" class="img-fluid" width="300" height="300">
    </div>
    <div class="card mb-3" style="max-width: 30rem; min-width: 20rem;">
        <div id="valid-feedback">
        </div>  
        <div id="invalid-feedback">
        </div>
        <div class="card-header">Login</div>
        <div class="card-body text-dark">
        
<form id="login-form" class="form needs-validation" method="post" novalidate>
    {% csrf_token %}
    <!-- Email input -->
    <div class="form-outline mb-3">
      <label class="form-label" for="email">Email address</label>
      <input type="email" id="email" class="form-control" autocomplete="off" required/>

    </div>

  
  
    <!-- Password input -->
    <div class="form-outline mb-3">
      <label class="form-label" for="password">Password</label>
      <input type="password" id="password" class="form-control" autocomplete="off" required/>
    </div>


  
  
    <!-- Submit button -->
    <div class="d-grid gap-2">
        <button class="btn bg-blue1 text-white btn-block mb-1" type="submit">Login</button>
    </div>
    <div class="forgetpass d-flex mb-4">
        <a href="{% url 'password_reset' %}" class="text-blue1 ms-auto">Foreget password</a>
    </div>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="{% url 'register' %}" class="text-blue1">Register</a></p>
    </div>
  </form>
</div>
</div>
</div>

  {% endblock content %}

  