
 {% extends "base.html" %}

 {% load static %}
 
 
 {% block title %} Pasword Reset Done {% endblock title %}
 
 {% block content %}

<div class="password_reset_done d-flex justify-content-center align-items-center flex-column" style="height: 100vh; background-color: #f8f8f8;">
    <div class="logo_login mb-5">
       <img src="{% static 'imges/logo2x.png' %}" alt="Unable to load logo">
    </div>
    <div class="card mb-3" style="max-width: 30rem; min-width: 20rem;">
        <div id="valid-feedback">
        </div>  
        <div id="invalid-feedback">
        </div>
        <div class="card-header">Password reset sent</div>
        <div class="card-body text-dark">
            <p>We’ve <b>emailed</b> you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your <b>spam</b> folder.</p>
</div>
</div>
</div>
 {% endblock content %}
