
{% extends "base.html" %}

{% load static %}


{% block title %} Pasword Reset Complete {% endblock title %}

{% block content %}

<div class="password_reset_complete d-flex justify-content-center align-items-center flex-column" style="height: 100vh; background-color: #f8f8f8;">
   <div class="logo_login mb-5">
      <img src="{% static 'imges/modern network logo.png' %}" class="img-fluid" width="300" height="300" alt="Unable to load logo">
   </div>
   <div class="card mb-3" style="max-width: 30rem; min-width: 20rem;">
       <div id="valid-feedback">
       </div>  
       <div id="invalid-feedback">
       </div>
       <div class="card-header">Password Reset Complete</div>
       <div class="card-body text-dark">
        <p>Your password has been successfully reset. You can now <a href="{% url 'Login' %}" class="text-blue1">log in</a> with your new password.</p>
</div>
</div>
</div>
{% endblock content %}
