
{% extends "base.html" %}

{% load static %}


{% block title %} Health Stat {% endblock title %}

{% block content %}

<div id="alert-container" class="mb-3 container">
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Success!</h4>
                <hr>
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <h4 class="alert-heading">Error!</h4>
                <hr>
                <p>{{ message }}</p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#datasetup">Data Setup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="hotspot_tab_link" data-bs-toggle="tab" href="#hotspot" >Hotspot Analysis</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="modeling_tab_ink" data-bs-toggle="tab" tabindex="-1" href="#modeling" >Data Modeling</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
    </li>
  </ul>
  
  <div class="tab-content" id="myTabContent">
    <div class="datasetup_container tab-pane fade show active" id="datasetup">
      {% include "Data Setup/data setup.html" %} 
    </div>
    <div id="hotspot" class="hotspotanalysis_container tab-pane fade show">
      {% include "Hotspot Analysis/hotspot.html" %} 
    </div>
    <div class="datamodeling_container tab-pane fade show" id="modeling">
      {% include "Data Modeling/modeling.html" %} 
    </div>
  </div>
  
  



    {% endblock content %}

{% block scripts %}
{{ block.super }}

    <!-- Add this script after bootstrap scripts -->
    <script type="text/javascript">
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl);
      });
    </script>
{% endblock scripts %}
